<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/assets/img/icono.png">
    
</head>
<body>
    <form>
        <h2>
            Formulario de alta de  Categorias
        </h2>
    <fieldset>
        <legend>INFORMACIÓN BASICA</legend>
         <div class="form_input">
            <label>Alta de Categorias
            <input type="text" placeholder="Escribir..." id="email">
            </label>
        </div>
        
    </fieldset>
    <div class="contenedor">
 
    <button type="submit">Guardar</button>
    <button type="button">Cancelar</button>

    </div>
    
    

    
    </form>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../..//assets/js/validaciones.js"></script>
    

    
    
</body>
</html>
